body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #181818;
    text-align: center;
    color: #fff;
}
#alinhamento{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    background: #404040;
    padding: 22px 36px;
    border: 1px solid black;
    border-radius: 14px;
}
.grid{
    background: #fff; /* Está sem texto nas imagens*/
    min-width: 80px;
    min-height: 200px;
    padding: 12px;
    display: flex;
    align-items: flex-end;
    font: 12px, verdana;
    border-radius: 8px;
}
.height-img{
    max-height: 200px;
    border-radius: 14px;
}
